$myFont: Montserrat, sans-serif;
$myColorB: #03a9f5;
$myColorY: #f39c12;
$myColorR: #e74c3c;
$myColorG: #1de9b6 !global;

$myFontSize: 18px;
$myWidth: 680px;
$myBackground: #fff !global;
$myFont: Montserrat, sans-serif;
$myFont2: MontserratLight, sans-serif;


* {
  box-sizing: border-box;
  .headerTitle {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    // margin: 0 0 5px;
    // text-align: center;
  }
  
  
  
  .headerTitle2 {
    font-size: 18px;
    color: #555;
    font-family: Montserrat, sans-serif;
    font-family: 100;
    margin: 0 0 10px 5px;
  }
}
.container {
  display: flex;
  // margin-top: 10px;

}

// -------------------- Data Table ---------------------

.dataTable {
    // flex: 1;
    // display: flex;
    // flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    // padding: 20px 20px 0px 20px;
    // box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    // background-color: #fff;
    margin-bottom: 8px;
  
    .headerTitle {
      font-size: 14px;
      color: #252525;
      margin: 0 0 20px;
      // text-align: center;
    }
  
    .css-t89xny-MuiDataGrid-columnHeaderTitle {
      font-weight: 600;
      display: flex;
      justify-content: center !important;
      align-items: center;
    }
  }


// -------------------- Small Table ---------------------
  .smallTable {
    flex: 1;
    height: 360px;
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 20px;
    // overflow: hidden;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 15px;


  .css-t89xny-MuiDataGrid-columnHeaderTitle { //This class name was discover in the browser console by inspecting the table head.
    font-weight: 600;
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
  }

  .css-204u17-MuiDataGrid-main {
    display: flex;
    justify-content: flex-end;
    // border-left: 0;
    // border-right: 0;
    // color: red;
    // background-color: aqua;
  }
  
  .css-kzyyzb-MuiDataGrid-root {
    // text-align: left !important;
    border: 0;
    // border-right: 0;
    // border-top: 0;
    // background-color: aqua;
  }
  
  .css-qvtrhg-MuiDataGrid-virtualScroller   {
    // border-left: 0;
    // border-right: 0;
    // background-color: aqua;
  }
  
  .MuiDataGrid-footerContainer {
    border-top: 0;
    border-bottom: 0;
    // background-color: aqua;
    display: none;
  }
  
  
  .MuiDataGrid-row:last-child  {
    // background-color: aqua;
    // border-bottom: 1px solid #000 !important;
    // border-bottom: none;
  }
  
  .css-kzyyzb-MuiDataGrid-root .MuiDataGrid-cell:first-child {
    //   border-top: 0.5px solid rgba(224, 224, 224, 1) !important;
    
  }
  
}
