$myFont: Montserrat, sans-serif;
$myColorB: #03a9f5;
$myColorY: #f39c12;
$myColorR: #e74c3c;
$myColorG: #1de9b6;

$myFontSize: 18px;
$myWidth: 680px;
$myBackground: #fff !global;
$myFont: Montserrat, sans-serif;
$myFont2: MontserratLight, sans-serif;

.lecturesDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .lecturesDetailsMain {
    display: flex;
    gap: 15px;

    // .studentDetailsMainRight {
      
      
    // }
  }

  .paperWrapper {
    display:flex;
    gap: 15px;
  }
}