.newApplicants {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 442px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  background-color: #fff;

  .headerTitle {
    font-size: 14px;
    color: #252525;
    margin: 0 0 10px;
    // text-align: center;
  }

  .css-t89xny-MuiDataGrid-columnHeaderTitle {
    font-weight: 600;
    display: flex;
    justify-content: center !important;
    align-items: center;
  }

  .imgFirstname {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .actionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 0;
  

    .viewButton {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 7px;
      padding: 3px 10px;
      border: none;
      background-color: #3bb077;
      color: #fff;
      cursor: pointer;
    }

    .appDeleteIcon {
      color: red;
      cursor: pointer;
    }
  }

  // .recentTable {
  //   display: flex;
  //   align-items: center;
  // }
}